.reveal .clean-img {
  border: none;
  background: none;
  box-shadow: none;
}

.reveal iframe {
  min-height: 530px !important;
  width: 100%;
}

.strike-through {
  text-decoration: line-through;
  opacity: 0.4;
  background: #000;
}