<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>AngularJS - Chas Knowledge Transfer</title>

    <meta name="description" content="An introduction to AngularJS">
    <meta name="author" content="Niklas Rasmusson">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/night.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- My custom styles -->
    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

        <section>
          <h1><img class="clean-img" src="img/AngularJS-Shield-large.png" alt="AngularJS Logo"></h1>
          <h3>An introduction to the "superheroic JavaScript MVW framework" made available by Google.</h3>
          <p>
            <small>Presentation by <a href="http://rasmusson.net">Niklas Rasmusson</a> / <a href="http://twitter.com/asdfz0mg">@asdfz0mg</a> / <a href="http://chas.se/">Chas Visual Management</a></small>
          </p>
        </section>

        <section>
          <h2>What we'll be talking about</h2>
          <ul>
            <li>What is MVC?</li>
            <li>What is AngularJS?</li>
            <li>Setup</li>
            <li>The View</li>
            <li>The Controller</li>
            <li>Building an application</li>
            <li>Dependency Injection</li>
          </ul>
        </section>

        <section>
          <section>
            <h3>What is MVC?</h3>
            <p>You've probably heard of MVC before. It's a design pattern used to structure your application.</p>
            <p>Although it's wide spread in other programming languages, it's still quite new in JavaScript.</p>
            <p>There are still many opinions on how MVC should be implemented in JS.</p>
          </section>

          <section>
            <h4>Angular flavoured MVC/MVVM</h4>
          </section>

          <section>
            <h4>[M]odel</h4>
            <p>Plain data, usually JSON or XML, commonly served from the back end or local storage. It could look something like this:</p>
            <pre><code data-trim class="json">
{
  "users" : [
    {
      "firstName": "John",
      "lastName": "Doe",
      "id": 0
    },
    {
      "firstName": "Jane",
      "lastName": "Doe",
      "id": 1
    }
  ]
}
            </code></pre>
            <p>And so on...</p>
          </section>

          <section>
            <h4>[V]iew</h4>
            <p>The view is simple, it's your HTML and/or rendered output.</p>
          </section>

          <section>
            <h4>[C]ontroller</h4>
            <p>The name says it all, the controller controlls things. But what things? Data. It's in charge of supplying your view with data, behaviour and validation.</p>
          </section>

            <section>
            <h4>[V]iew[M]odel</h4>
            <p>It's the data (model) to your view!</p>
          </section>

          <section data-background="http://i.imgur.com/2uOBamR.gif">
          </section>

          <section>
            <h4>Example: Profile view</h4>
            <p>We want to show data about the user and a list of messages belonging to this user.</p>
          </section>

          <section>
            <h4>The problem</h4>
            <p>We want to store user data and messages data in separate models.</p>
          </section>

          <section>
            <h4>The solution</h4>
            <p>Create a ViewModel containing data from multiple models and possibly add other properties to it as well.</p>
          </section>

          <section>
            <div class="img-segment img-segment-viewmodel">
              <img class="clean-img" src="img/ViewModel1.png" alt="">
              <img class="clean-img fragment" src="img/ViewModel2.png" alt="">
              <img class="clean-img fragment" src="img/ViewModel3.png" alt="">
              <img class="clean-img fragment" src="img/ViewModel4.png" alt="">
            </div>
          </section>

          <section data-background="http://i.imgur.com/LdfdP.gif">
          </section>

          <section>
            <h4>What about MV*?</h4>
            <p>The generic acronym for all the different MVC-patterns.</p>
            <p>Something to say when developers don't agree with each other.</p>
          </section>

          <section>
            <blockquote>
              … Having said, I'd rather see developers build kick-ass apps that are well-designed and follow separation of concerns, than see them waste time arguing about MV* nonsense. And for this reason, I hereby declare AngularJS to be MVW framework - Model-View-Whatever . Where Whatever stands for "whatever works for you".
            </blockquote>
            <p><a href="https://plus.google.com/+AngularJS/posts/aZNVhj355G2">Shared by Igor Minar on G+</a></p>
          </section>

          <section>
            <img src="http://i.imgur.com/XFC97.gif" alt="">
          </section>
        </section>

        <section>
          <section>
            <h3>What is AngularJS?</h3>
            <p>JS MV* Framework used to (mainly) creating Single Page Applications (SPA).</p>
            <p>Also great for creating encapsulated "components".</p>
          </section>

          <section>
            <h4>Why do you need a framework to do that?</h4>
            <p>It's true you might not need a framework for simpler applications but as your project grows AngularJS <span class="strike-through">will</span> could save you time.</p>
            <p>Also, building SPA's are quite hard without any help.</p>
          </section>

          <section>
            <h4>Why Angular?</h4>
            <a href="http://www.sitepoint.com/10-reasons-use-angularjs/">10 Reasons Why You Should Use AngularJS</a>
            <ul>
              <li class="fragment">A declarative user interface.</li>
              <li class="fragment">Data models are POJO (Plain Old JavaScript Object).</li>
              <li class="fragment">Behavior with directives.</li>
              <li class="fragment">Service providers where they belong.</li>
              <li class="fragment">Flexibility with filters.</li>
            </ul>
          </section>

          <section>
            <h4>What makes it a "framework"?</h4>
            <p>Angular is full featured and doesn't just solve a single problem.</p>
            <ul class="fragment">
              <li>Two way data-binding</li>
              <li>MV*</li>
              <li>Routing</li>
              <li>Templating</li>
              <li>History</li>
              <li>Testing</li>
              <li>DOM manipulation</li>
              <li>Data fetching</li>
              <li>ViewModel</li>
              <li>Controller</li>
              <li>Views</li>
              <li>Directives</li>
              <li>Services</li>
              <li>Dependency Injection</li>
              <li>Validation</li>
              <li>More...</li>
            </ul>
          </section>
        </section>

        <section>
          <section>
            <h3>Setup</h3>
            <p>Download from <a href="http://angularjs.org/">http://angularjs.org/</a></p>
          </section>

          <section>
            <pre><code data-trim class="html">
&lt;!doctype html&gt;
&lt;html ng-app&gt; &lt;!-- Tell Angular this is an Angular app and start the bootstrap process --&gt;
&lt;head&gt;
  &lt;meta charset="UTF-8"&gt;
  &lt;title&gt;AngularJS app&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;!-- Reference Angular --&gt;
  &lt;script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
            </code></pre>
          </section>

        </section>

        <section>
          <section>
            <h3>The view</h3>
            <p>The view is your HTML.</p>
            <p>Angular let's you take advantage of data-binding, directives and filters.</p>
          </section>

          <section>
            <h4>What are directives?</h4>
            <p>"They teach HTML new tricks."</p>
            <p>Helps improve semantics.</p>
            <p>Reusable chunks of HTML.</p>
            <p>All DOM-manipulation goes here, that includes your jQuery plugins.</p>
          </section>

          <section>
            <h4>Built in directives</h4>
            <p>Angular directives are prefixed with <code>ng</code>.</p>
            <p>List can be found on the <a href="http://docs.angularjs.org/api/">docs</a> page.</p>
          </section>

          <section>
            <h4>Custom directives</h4>
            <p>Same API as native directives.</p>
            <p>Can be elements, attributes, CSS classes or comments.</p>
            <p>Best practice: only use element or attribute.</p>
          </section>

          <section>
            <h4>Matching directives</h4>
            <pre><code class="html" data-trim>
&lt;input ng-model="foo"&gt;
&lt;input data-ng-model="foo"&gt;
&lt;input data-ng:model="foo"&gt;
&lt;input x:ng:model="foo"&gt;
            </code></pre>
          </section>

          <section>
            <p>Angular <strong>normalizes</strong> an element's tag and attribute name to determine which elements match which directives. We typically refer to directives by their case-sensitive camelCase normalized name (e.g. ngModel). However, in the DOM, we refer to directives by case-insensitive forms, typically using dash-delimited attributes on DOM elements (e.g. ng-model).</p>

            <p>The normalization process is as follows:</p>

            <ol>
              <li>Strip x- and data- from the front of the element/attributes.</li>
              <li>Convert the :, -, or _-delimited name to camelCase.</li>
            </ol>
          </section>

          <section>
            <img src="img/first-view.png" alt="First example view.">
          </section>

          <section>
            <h4>What is an Angular "expression"?</h4>
            <p class="fragment">Expressions are JavaScript-like code snippets that are usually placed in bindings such as {{ expression }}.</p>
            <p class="fragment">Not exactly the same as a JavaScript expressions. Doesn't use <code>eval()</code>.</p>
            <div class="fragment">
              <p>Differences between JS expressions and ng expressions:</p>
              <ul>
                <li>Attribute Evaluation: evaluation of all properties are against the scope, instead of the <code>window</code>.</li>
                <li>Forgiving: expression evaluation is forgiving to <code>undefined</code> and <code>null</code>.</li>
                <li>No Control Flow Statements: no conditionals, loops or throws here.</li>
                <li>Filters: you can pass result of expression evaluations through filter chains.</li>
              </ul>
            </div>
          </section>

          <section>
            <h4>Two-way data binding</h4>
            <iframe src="jsbins/directives1.html" frameborder="0"></iframe>
          </section>

          <section>
            <h4>ngRepeat directive</h4>
            <iframe src="jsbins/directives2.html" frameborder="0"></iframe>
          </section>

          <section>
            <h4>Filters</h4>
            <iframe src="jsbins/directives3.html" frameborder="0"></iframe>
          </section>
        </section>

        <section>

          <section>
            <h3>The Controller</h3>
            <p>No JS code up until now.</p>
          </section>

          <section>
            <p>The controller is a constructor function used to setup initial data and add behaviour to the view.</p>
          </section>

          <section>
            <iframe src="jsbins/controllers1.html" frameborder="0"></iframe>
          </section>

          <section>
            <h4>What is the <code>$scope</code>-object?</h4>
            <p>The <code>$scope</code> is the "glue" between your controller and your view.</p>
            <p>You could say the <code>$scope</code> is your ViewModel.</p>
            <img src="img/concepts-controller.png" alt="">
          </section>

          <section>
            <h4>What are scopes?</h4>
            <p>Scopes are execution contexts in your view, similar to closures in JavaScript.</p>
          </section>

          <section>
            <p>During the bootstrap process a single scope called <code>$rootScope</code> is created.</p>
            <p>All scopes inherit prototypically.</p>
            <p>New scopes are created in different ways:</p>
            <ul>
              <li>You declare a new route in your config.</li>
              <li>Custom directives with the <code>scope</code> property set.</li>
              <li>ng-include</li>
              <li>ng-switch</li>
              <li>ng-repeat</li>
              <li>ng-view</li>
              <li>ng-controller</li>
            </ul>
          </section>

          <section>
            <h4>Angular inspector</h4>
            <p>Angular inspector built by the Angular devs.</p>
            <p>With this inspector you can inspect scopes, profile and debug your app.</p>
            <p>It's called <a href="https://chrome.google.com/webstore/detail/angularjs-batarang/ighdmehidhipcmcojjgiloacoafjmpfk">Batarang</a>.</p>
          </section>

        </section>

        <section>

          <section>
            <h3>Building an application</h3>
            <p>Let's get organized.</p>
          </section>

          <section>
            <h4>Modules</h4>
            <img src="img/angular-structure.png" alt="">
          </section>

          <section>
            <h5>HTML</h5>
            <pre><code data-trim class="html">
&lt;!doctype html&gt;
&lt;html ng-app="chasApp"&gt;
&lt;head&gt;
  &lt;meta charset="UTF-8"&gt;
  &lt;title&gt;AngularJS app&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

  &lt;script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
            </code></pre>
            <h5>JavaScript</h5>
            <pre><code data-trim class="javascript">
var App = angular.module('chasApp', []);
            </code></pre>
          </section>

          <section>
            <iframe src="jsbins/modules1.html" frameborder="0"></iframe>
          </section>

          <section>
            <h4>Routing</h4>
            <p>So now that we have a module, wouldn't it be nice with some routes?</p>
          </section>

          <section>
            <pre><code data-trim class="javascript">
var app = angular.module('chasApp', []);

app.config(function ($routeProvider) {

  $routeProvider.when('/', {
    controller: 'mainCtrl',
    templateUrl: '/app/views/index.html'
  })
  .otherwise({
    redirectTo: '/'
  });

});
            </code></pre>
          </section>

          <section>
            <p>Angular pre 1.2.0 comes with the router built in.</p>
            <p>In Angular 1.2.0 the devs decided to take a lot of things out of the framework and supply them as dependencies instead.</p>
          </section>

          <section>
          <h5>HTML</h5>
          <pre><code class="html" data-trim>
&lt;!-- ... --&gt;
&lt;script href="js/angular-route.js"&gt;&lt;/script&gt;
&lt;!-- ... --&gt;
          </code></pre>
          <h5>JavaScript</h5>
            <pre><code data-trim class="javascript">
var app = angular.module('chasApp', ['ngRoute']);

app.config(function ($routeProvider) {

  $routeProvider.when('/', {
    controller: 'mainCtrl',
    templateUrl: '/app/views/index.html'
  })
  .otherwise({
    redirectTo: '/'
  });

});
            </code></pre>
          </section>

          <section>
            <h4>Services</h4>
            <p>In Angular, a service is some wrapped up functionality that can be injected into your controllers, directives, filters and other services.</p>
            <p>It works as an API to you application.</p>
            <p>Commonly used for exposing methods to push and pull data from the server. Can also be used to create a resource sharing service that allows multiple controllers to share the same resources.</p>
            <p>They are not mandatory, but it's strongly advised that you use them.</p>
          </section>

          <section>
            <h4>Service types</h4>
            <p>There are six different types of services available in Angular. These are:</p>
            <ul>
              <li>constant</li>
              <li>value</li>
              <li>service</li>
              <li>factory</li>
              <li>decorator</li>
              <li>provider</li>
            </ul>
            <p>The most common one is <code>factory</code> so that's what we will focus on.</p>
            <p>If you want to know more, read <a href="http://iffycan.blogspot.se/2013/05/angular-service-or-factory.html">this</a> and <a href="http://blog.xebia.com/2013/09/01/differences-between-providers-in-angularjs/">this</a>.</p>
          </section>

          <section>
            <h4>How to write a service</h4>
            <pre><code data-trim class="javascript">
angular.module('chasApp', [])
.factory('companyService', function () {
  return {
    getCompanyName: function () {
      return "Chas Visual Management";
    }
  };
})
.controller('mainCtrl', function ($scope, companyService) {
  $scope.company = companyService.getCompanyName(); // "Chas Visual Management"
});
            </code></pre>
          </section>

        </section>

        <section>
          <section>
            <h3>Dependency Injection</h3>
            <p>If you have done some work on the back end, chances are you are familiar with this term.</p>
            <p>From a broad perspective, DI means that you can declare components very freely and then from any other component, just ask for an instance of it and it will be granted. You don't have to know about loading order, or file locations, or anything like that. The power may not immediately be visible, but this design pattern is great to work with, especially when it comes to testing.</p>
          </section>

          <section>
            <h4>DI and minification trouble</h4>
            <h5>Our code before minification</h5>
            <pre><code data-trim class="javascript">
angular.module('chasApp')
.controller('chasCtrl', function ($scope, myService) {
  myService.doSomething();

  $scope.company = "Chas";
});
            </code></pre>
            <h5>Our code after minification</h5>
            <pre><code data-trim class="javascript">
angular.module("chasApp").controller("chasCtrl",function(b,a){a.doSomething();b.company="Chas"});
            </code></pre>

          </section>

          <section>
            <h4>The solution</h4>
            <h5>Our code before minification</h5>
            <pre><code data-trim class="javascript">
angular.module('chasApp')
.controller('chasCtrl', [
  '$scope',
  'myService',
  function ($scope, myService) {
    myService.doSomething();

    $scope.company = "Chas";
  }
]);
            </code></pre>

            <pre><code data-trim class="javascript">
angular.module("chasApp").controller("chasCtrl",["$scope","myService",function(b,a){a.doSomething();b.company="Chas"}]);
            </code></pre>
          </section>
        </section>

        <section>
          <section>
            <p>More reference material.</p>
            <ul>
              <li><a href="http://docs.angularjs.org/api/" title="API Docs">AngularJS API Docs</a></li>
              <li><a href="http://docs.angularjs.org/guide/">AngularJS Developer Guide</a></li>
              <li><a href="http://egghead.io/">Egghead.io</a></li>
              <li><a href="http://stackoverflow.com/a/15012542">How do I “think in AngularJS” if I have a jQuery background?</a></li>
              <li><a href="https://github.com/jmcunningham/AngularJS-Learning">AngularJS Learning Repo</a></li>
              <li><a href="http://www.youtube.com/watch?v=i9MHigUZKEM">AngularJS in 60-ish minutes</a></li>
              <li><a href="https://github.com/angular-ui/ui-router">UI-Router from Angular UI team</a></li>
            </ul>
          </section>
        </section>
      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>
    <script src="js/custom.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>
